{% extends 'backend/master/master.html' %}
{% load static %}
 {% block 'title' %}
 Add Education
 {% endblock %}
{% block 'sidebar' %}
    {% include 'backend/component/sidebar.html' %}
{% endblock %}

{% block 'nav' %}
    {% include 'backend/component/nav.html' %}
{% endblock %}

{% block 'body' %}
    {% include 'backend/component/message.html' %}
    <form method="POST">
    {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}

{% block 'footer' %}
    {% include 'backend/component/footer.html' %}
{% endblock %}

