
<!-- Navigation -->
    <div class="agiletopbar">
			<div class="wthreenavigation">
				<div class="menu-wrap">
					<nav class="menu">
						<div class="icon-list">
							<a class="scroll active" href="#agilehome"><i class="fa fa-home"></i><span>Home</span></a>
							<a class="scroll" href="#about"><i class="fa fa-info"></i><span>About</span></a>
							<a class="scroll" href="#skills"><i class="fa fa-bar-chart"></i><span>Skills</span></a>
{#							<a class="scroll" href="#gallery"><i class="fa fa-picture-o"></i><span>Portfolio</span></a>#}
							<a class="scroll" href="#education"><i class="fa fa-book"></i><span>Education</span></a>
							<a class="scroll" href="#experience"><i class="fa fa-university"></i><span>Experience</span></a>
{#							<a class="scroll" href="#stats"><i class="fa fa-laptop"></i><span>Technical Skills</span></a>#}
							<a class="scroll" href="#contact"><i class="fa fa-phone"></i><span>Contact Me</span></a>
						</div>
					</nav>
					<button class="close-button" id="close-button">Close Menu</button>
				</div>
				<button class="menu-button" id="open-button">Open Menu</button>
			</div>
			<div class="agileinfomenu">
				<p>MENU</p>
			</div>
			<div class="aitslogow3ls">
					<a href=""><div class="agilelogo">My Career</div></a>
			</div>
			<div class="wthreecontact">
				<p><a class="scroll" href="#contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> CONTACT ME</a></p>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- //Navigation -->